.md-toolbar-tools{
    background-color: white;
    border-bottom: 2px solid black;
}

.ps-icon {
    display: inline-block;
    width: 50px;
    height: 40px;
    //margin: 8px;
    // vertical-align: top;
    // border: 0px solid #999;    
}